.photo{
    background-image: url("https://ik.imagekit.io/4z8covdo9/MERN-COURSE-ASSETS/TOURISM-PROJECT/sea-ocean");
    height:600px;
    width:300px;
    background-size:cover;

}
.image-2{
    background-image: url("https://ik.imagekit.io/4z8covdo9/MERN-COURSE-ASSETS/TOURISM-PROJECT/taj-mahal");
    height:600px;
    width:300px;
    background-size:cover;
    

}